@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.title {
    font-size: 130px;
    color: white;
    font-family: "Nanum Pen Script", cursive;
    text-shadow: 5px 1px blue;
    background-color: black;
    text-align: center;
}
